<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Devoir</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Devoir</h1>
    <p>Bonjour  {{prenom}} </p>
    <p>Le but de ce devoir est de créer un site web qui permet de gérer des utilisateurs.</p>
    <p>Le site doit permettre de :</p>
    <ul>
        <li>Créer un utilisateur</li>
        <li>Modifier un utilisateur</li>
        <li>Supprimer un utilisateur</li>
        <li>Afficher la liste des utilisateurs</li>
    </ul>
    <p>Les utilisateurs doivent avoir les champs suivants :</p>
    <ul>
        <li>Nom</li>
        <li>Prénom</li>
        <li>Age</li>
        <li>Adresse</li>
        <li>Code postal</li>
        <li>Ville</li>
        <li>Numéro de téléphone</li>
        <li>Adresse email</li>
    </ul>
    <p>Le site doit être sécurisé contre les injections SQL.</p>
    <p>Le site doit être responsive.</p>
    <p>Le site doit être codé en Python.</p>
    <p>Le site doit utiliser une base de données.</p>
    <p>Le site doit utiliser le framework Django.</p>
    <p>Le site doit être hébergé sur un serveur.</p>
    <p>Le site doit être disponible à l'adresse suivante : <a href="http://devoir.frantz-cesar.fr">http://devoir.frantz-cesar.fr</a></p>
    <p>Le site doit être disponible sur Github à l'adresse suivante :  </p>">
    </body>
</html>

